/* ----- Background pattern across full window ----- */
body {
  margin: 0;
  background: url("a61.jpg") repeat;
  font-family: Georgia, serif;
}

/* ----- Centered content area ----- */
#wrapper {
  width: 960px;
  margin: 0 auto;
  background-color: white;
  border: 3px solid black;
  padding: 20px;
}

/* ----- Headings ----- */
h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-align: center;
  margin-top: 0;
}

h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  border-bottom: 2px solid black;
  padding-bottom: 5px;
}

/* ----- Navigation bar ----- */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: url("a62.png") repeat-x;
}

nav li {
  margin: 4px;
}

nav a {
  display: block;
  background-color: #cc0000;   /* red box */
  color: white;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  border: 1px solid #990000;
}

nav a:hover {
  background-color: #990000;   /* darker red on hover */
}

/* ----- Paragraph text ----- */
p {
  font-family: Georgia, serif;
  text-align: justify;
  line-height: 1.5;
  margin-bottom: 15px;
}

/* Top three paragraphs bold via CSS */
p:nth-of-type(-n+3) {
  font-weight: bold;
}

/* ----- Image styling ----- */
img {
  display: block;
  margin: 20px auto;
  border: 3px solid black;
}

/* ----- Links inside main paragraphs ----- */
p a {
  color: red;
  font-weight: bold;
  text-decoration: none;
}

p a:hover {
  color: blue;
  text-decoration: underline;
}

/* ----- Footer styling ----- */
footer {
  background-color: #001a66;
  border-top: 3px solid white;
  text-align: center;
  padding: 15px;
}

footer p {
  color: white;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-style: italic;
  margin: 0;
}
